.btn {
  margin-right: 0px auto;
}

.inp {
  position: relative;
  list-style: none;
  height: 30px;
  max-width: 500px;
  border-radius: 20px;
  border: 2px solid #e4e4e4;
  margin: 0px auto;
}

.taskList {
  position: relative;
  list-style: none;
  height: 30px;
  max-width: 750px;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  margin: 0px auto;
}
