/* html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
} */
h1 {
  margin-left: 45%;
  margin-top: 5%;
  margin-bottom: 2%;
}
/* body {
  background-color: #e4e5e7;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* .taskButtons { */
/* display: flex; */
/* justify-content: space-between; */
/* column-gap: 5px; */
/* width: 300px; */
/* } */
.inp {
  position: static;
  list-style: none;
  height: 30px;
  width: 750px;
  border-radius: 10px;
  border: 2px solid #e4e4e4;
  margin-left: 25%;
  font-size: 18px;
}

.btn {
  position: static;
  background-color: #e5e5e5;
  border: 2px solid #d5d5d5;
  border-radius: 10px;
  margin-left: 25%;
  margin-bottom: 2%;
  height: 50px;
  width: 757px;
  font-size: 18px;
}

.btn:hover {
  position: static;
  background-color: #d1d1d1;
  border: 2px solid #b8b8b8;
  border-radius: 10px;
  margin-left: 25%;
  margin-bottom: 2%;
  height: 50px;
  width: 757px;
}

.taskTitle {
  word-break: break-all;
  font-size: 20px;
  width: 500px;
}
.taskList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 30px;
  width: 757px;
  max-width: 757px;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
  margin-left: 23%;
}
.doneBtn {
  justify-content: space-between;

  position: fixed;
  top: 20;
  left: 20;
  right: 20;
  min-width: 50px;
  height: 30px;
  position: absolute;
  background-color: #c5e6b8;
  border: 2px solid #91a888;
  /* margin-left: 621px;
  border-radius: 2px; */
}

.deleteBtn {
  justify-content: space-between;
  /* align-items: center; */
  position: fixed;
  min-width: 50px;
  height: 30px;
  position: absolute;
  background-color: #ff6262;
  border: 2px solid #d13e3e;
  margin-left: 50px;
  border-radius: 2px;
  /* margin-bottom: 400px; */
}
/* .taskTitle {
  font-weight: 400;
  padding-top: 5px;
} */

.done {
  text-decoration: line-through;
  color: #b8b8b8;
}
